<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176801141419-e5grtpu6de85a6g94n51ft672p0v7cn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176801141419-e5grtpu6de85a6g94n51ft672p0v7cn6</string>
	<key>API_KEY</key>
	<string>AIzaSyCcJpsXuaQgEgj324p0AOFxGSirFJWk5AU</string>
	<key>GCM_SENDER_ID</key>
	<string>176801141419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.damU4Proyecto219400617</string>
	<key>PROJECT_ID</key>
	<string>proyecto2-eb96e</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto2-eb96e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176801141419:ios:46921462c537c998969dee</string>
</dict>
</plist>